<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Boomerang Bootstrap Template: Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Required -->
    <link href="css/global-style.css" rel="stylesheet" type="text/css" media="screen">
<link rel="icon" href="images/favicon.png" type="image/png">

</head>
<body>

<section id="asideMenu" class="aside-menu">
	<form class="form-inline form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button id="btnHideAsideMenu" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
	
    <h5 class="side-section-title">Optional sidebar menu</h5>
    <div class="nav">
    	<ul>
        	<li>
            	<a href="#">Home</a>
            </li>
            <li>
            	<a href="#">About us</a>
            </li>
            <li>
            	<a href="#">Blog</a>
            </li>
            <li>
            	<a href="#">Work</a>
            </li>
            <li>
            	<a href="#">Online shop</a>
            </li>
        </ul>
    </div>
    
    <h5 class="side-section-title">Social media</h5>
    <div class="social-media">
        <a href="#"><i class="fa fa-facebook facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus google"></i></a>
        <a href="#"><i class="fa fa-twitter twitter"></i></a>
    </div>
    
    <h5 class="side-section-title">Contact information</h5>
    <div class="contact-info">
        <h5>Address</h5>
        <p>5th Avenue, New York - United States</p>
        
        <h5>Email</h5>
        <p>hello@webpixels.ro</p>
        
        <h5>Phone</h5>
        <p>+10 724 1234 567</p>
    </div>
</section>
<div class="wrapper">
	<div class="top-header">
	<div class="container">
        <div class="row">
            <div class="col-sm-12">
            	<span class="aux-text hidden-xs">
                    Welcome to Boomerang: hello@webpixels.ro or +40 724 123 456
                </span>
            	<nav class="top-header-menu">
                    <ul class="menu">
                        <li><a href="sign-in.html">Login</a></li>
                        <li class="aux-languages dropdown"><a href="#"><span class="language name">English</span></a>
                            <ul id="auxLanguages" class="sub-menu">
                                <li><a href="#"><span class="language">German</span></a></li>
                                <li><span class="language language-active">English</span></li>
                                <li><a href="#"><span class="language">Greek</span></a></li>
                                <li><a href="#"><span class="language">Spanish</span></a></li>
                            </ul>
                        </li>
                        <li class="shopping-cart dropdown">
                            <a href="#" title="View your shopping cart"><i class="fa fa-shopping-cart"></i><span class="amount">&pound;0</span></a>
                
                            <ul class="sub-menu">     
                                <li>                                      
                                    <div class="dropdown-cart">
                                        <span class="cart-items">You have <strong>3</strong> items in your cart</span>
                                        <table class="table table-cart">
                                            <tbody>
                                                <tr>
                                                    <th colspan="2">Product</th>
                                                    <th class="text-center">Qty</th>
                                                    <th>Total</th>
                                                </tr>
                                            
                                                <tr>
                                                    <td><img src="images/prv/product-3.png" class="img-center" alt=""></td>
                                                    <td><a href="">Asus Ultra Notebook</a></td>
                                                    <td class="text-center">2</td>
                                                    <td>$600.99</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="images/prv/product-2.png" class="img-center" alt=""></td>
                                                    <td><a href="">Mouse Microsoft</a></td>
                                                    <td class="text-center">3</td>
                                                    <td>$600.99</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="images/prv/product-4.png" class="img-center" alt=""></td>
                                                    <td><a href="">Samsung Galaxy S4</a></td>
                                                    <td class="text-center">1</td>
                                                    <td>$600.99</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="shop-cart.html" class="btn btn-xs btn-three">Edit cart</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#" class="btn btn-xs btn-two pull-right">Proceed to checkout</a>
                                                <span class="clearfix"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>                                                                                                    
                            </ul>                                                                                                          
                        </li>
                    </ul>
				</nav>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="navbar navbar-white" role="navigation">
        <div class="container">
            <div class="navbar-header">
            	<button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                	<img src="images/boomerang-logo.png" alt="Boomerang Bootstrap Template Logo">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                	<li class="active">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Homepage: Landing</a></li>
                            <li><a href="index2.html">Homepage: Classic</a></li>
                            <li><a href="shop-home.html">Homepage: Shop</a></li>
                        </ul>
                	</li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About us: One</a></li>
                            <li><a href="about2.html">About us: Two</a></li>
                            <li><a href="services.html">Services: One</a></li>
                            <li><a href="services2.html">Services: Two</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="listings.html">Listings</a></li>
                            <li><a href="pricing.html">Pricing plans</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="sign-in.html">Sign in</a></li>
                            <li><a href="sign-up.html">Sign up</a></li>
                            <li><a href="shop-account.html">Sign in/Sign up</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="404.html">Error 404</a></li>
                        </ul>
                	</li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Work</a>
                        <ul class="dropdown-menu">
                            <li><a href="work.html">Work: Basic 3 columns</a></li>
                            <li><a href="work2.html">Work: Basic 4 columns</a></li>
                            <li><a href="work3.html">Work: With header 3 columns</a></li>
                            <li><a href="work4.html">Work: With header 4 columns</a></li>
                            <li><a href="work-project.html">Single project: Fluid</a></li>
                            <li><a href="work-project2.html">Single project: Vertical</a></li>
                        </ul>
                	</li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-grid.html">Blog: Grid Large</a></li>
                            <li><a href="blog-grid2.html">Blog: Grid Medium</a></li>
                            <li><a href="blog-list.html">Blog: List</a></li>
                            <li><a href="blog-masonry.html">Blog: Masonry </a></li>
                            <li><a href="blog-post.html">Post: Standard</a></li>
                            <li><a href="blog-post2.html">Post: Fluid</a></li>
                        </ul>
                	</li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a href="shop-home.html">Homepage</a></li>
                            <li><a href="shop-products.html">All products</a></li>
                            <li><a href="shop-product.html">Single product</a></li>
                            <li><a href="shop-cart.html">Cart</a></li>
                            <li><a href="shop-account.html">Account</a></li>
                            <li><a href="shop-profile.html">User profile</a></li>
                            <li><a href="shop-order-history.html">Order history</a></li>
                            <li><a href="shop-whishlist.html">Whishlist</a></li>
                            <li><a href="shop-invoice.html">Invoice</a></li>
                            
                        </ul>
                	</li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Contact</a>
                        <ul class="dropdown-menu">
                            <li><a href="contact.html">Contact: Fluid</a></li>
                            <li><a href="contact2.html">Contact: Compact</a></li>
                        </ul>
                	</li>
                    <li class="dropdown hidden-xs">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Schemes</a>
                        <ul class="dropdown-menu">
                            <li>
                            	<div class="dropdown-style-switcher">
                                    <form class="form-light">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Layout</label>
                                                    <select id="cmbLayout" class="form-control">
                                                    	<option value="1">Fluid</option>
                                                        <option value="2">Boxed</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastName">Colors</label>
                                                    <span class="color-picker">
                                                    	<a href="#" id="cmdRed" class="color-red" title="Red">Red</a>
                                                        <a href="#" id="cmdViolet" class="color-violet" title="Violet">Violet</a>
                                                        <a href="#" id="cmdBlue" class="color-blue" title="Blue">Blue</a>
                                                        <a href="#" id="cmdGreen" class="color-green" title="Green">Green</a>
                                                        <a href="#" id="cmdYellow" class="color-yellow" title="Yellow">Yellow</a>
                                                        <a href="#" id="cmdOrange" class="color-orange" title="Orange">Orange</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Top Header</label>
                                                    <select id="cmbTopHeader" class="form-control">
                                                        <option value="1">Show</option>
                                                        <option value="2">Hide</option>
                                                    </select>
                                                 </div>
                                             </div>
                                        </div>
                                                
                                        <div class="row hide">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Header style</label>
                                                    <select id="cmbTopHeader" class="form-control">
                                                        <option value="1">Header style 1</option>
                                                        <option value="2">Header style 2</option>
                                                    </select>
                                                 </div>
                                             </div>
                                        </div>      
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Choose pattern/background</label>
                                                    <select id="cmbBackground" class="form-control">
                                                    	<option value="1">Pattern 1</option>
                                                        <option value="2">Pattern 2</option>
                                                        <option value="3">Pattern 3</option>
                                                        <option value="4">Pattern 4</option>
                                                        <option value="5">Background 1</option>
                                                        <option value="6">Background 2</option>
                                                    </select>
                                                 </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                	</li>
                    <li class="dropdown hide" style="z-index:500;">
                    	<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu dropdown-menu-user">
                            <li id="dropdownForm">
                            	<div class="dropdown-form">
                                	<form role="form" class="p-15">
                                        <div class="form-group">
                                        	<input type="search" class="form-control" id="email" placeholder="Enter email">
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                	</li>
                    <li class="hidden-xs">
                        <a href="#" id="cmdAsideMenu" class="dropdown-toggle dropdown-form-toggle" title="Open sidebar">
                        	<i class="fa fa-outdent"></i>
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>
    <div class="pg-opt pin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Timeline</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Timeline</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>
    
    <section class="slice bg-2">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h4><i class="fa fa-users fa-3x"></i></h4>
                            <h2>Share news and events in a new way: Timeline</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus.
                                <br>
                                Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                            </p>
                            <span class="clearfix"></span>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="slice bg-3 no-padding">
        <div class="w-section inverse">
            <div class="container">
                
                <ul class="timeline">
                    <li class="year">2013</li>
                    
                    <li class="event offset-first">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>23 October 2013</small>    
                        </div>
                        <div class="event-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        <br><br>
                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>20 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-2.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>3 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-3.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>30 September 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe src="http://player.vimeo.com/video/66288274?badge=0" height="281"></iframe>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    
                    <li class="clearfix"></li>
                    
                    <li class="year">2012</li>
                    
                    <li class="event offset-first">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>23 October 2013</small>    
                        </div>
                        <div class="event-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        <br><br>
                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>20 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-2.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>3 October 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-3.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            Dependent certainty off discovery him his tolerably offending
                            <small>30 September 2013</small>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe src="http://player.vimeo.com/video/66288274?badge=0" height="281"></iframe>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <a href="#" class="btn btn-xs btn-three pull-right">Read more</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>    
    </section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            	<div class="col">
                   <h4>Contact us</h4>
                   <ul>
                        <li>5th Avenue, New York - United States</li>
                        <li>Phone: +10 724 1234 567 | Fax: +10 724 1234 567 </li>
                        <li>Email: <a href="mailto:hello@example.com" title="Email Us">hello@example.com</a></li>
                        <li>Skype: <a href="skype:my.business?call" title="Skype us">my-business</a></li>
                        <li>Creating great templates is our passion</li>
                    </ul>
                 </div>
            </div>
            
            <div class="col-md-3">
            	<div class="col">
                    <h4>Mailing list</h4>
                    <p>Sign up if you would like to receive occasional treats from us.</p>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your email address..." />
                            <span class="input-group-btn">
                                <button class="btn btn-two" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="col-md-3">
            	<div class="col col-social-icons">
                    <h4>Follow us</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                </div>
            </div>

             <div class="col-md-3">
             	<div class="col">
                    <h4>About us</h4>
                    <p>
                    Boomerang Bootstrap Template is made with love and passion for your own business.
                    <br /><br />
                    <a href="#" class="btn btn-two">Try it now!</a>
                    </p>
                </div>
            </div>
        </div>
        
        <hr />
        
        <div class="row">
        	<div class="col-lg-9 copyright">
            	2013 &copy; Web Pixels. All rights reserverd. 
                <a href="#">Terms of use</a> | 
                <a href="#">Privacy policy</a>
            </div>
            <div class="col-lg-3 footer-logo">
            	
            </div>
        </div>
    </div>
</footer></div>

<!-- JavaScript -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jquery.easing.js"></script>

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="assets/masonry/masonry.js"></script>
<script type="text/javascript" src="assets/page-scroller/jquery.ui.totop.min.js"></script>
<script type="text/javascript" src="assets/mixitup/jquery.mixitup.js"></script>
<script type="text/javascript" src="assets/mixitup/jquery.mixitup.init.js"></script>
<script type="text/javascript" src="assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="assets/easy-pie-chart/jquery.easypiechart.js"></script>
<script type="text/javascript" src="assets/waypoints/waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.wp.custom.js"></script>
</body>
</html>