  <section class="slider-wrapper">
    <div class="responsive-container">
      <div class="slider">
        <div class="fs_loader"></div>

        <div class="slide slide-light">
          <img src="assets/carousel/carousel-img-3.png" alt="" height="440" data-position="0,-460" data-in="bottom" data-delay="200" data-out="top">
          <!--         <img src="assets/Construction-Handshake.jpg" alt="Waterproofing Is Our Speciality" height="440" data-position="0,-460" data-in="bottom" data-delay="200" data-out="top"> -->

          <img src="assets/prv/human-img-3.png" alt="" data-position="20, 500" data-in="bottom" data-delay="400" data-out="bottom">

          <p class="claim bg-2" data-position="70,0" data-in="top" data-step="1" data-out="bottom" data-time="1000" data-delay="100">
            Air Barriers are important for blocking dry rot.
          </p>
          <p class="claim dark" data-position="120,0" data-in="top" data-step="1" data-out="bottom" data-time="3500" data-delay="250">
            Check out the concrete repair service!
          </p>

          <p class="teaser dark small" data-position="180,0" data-in="left" data-step="2" data-time="1500" data-delay="100">
            New colors available
          </p>
          <p class="teaser dark small" data-position="180,0" data-in="left" data-step="2" data-special="cycle" data-time="3100" data-delay="1600">
            45+ pages models
          </p>
          <p class="teaser dark small" data-position="180,0" data-in="left" data-step="2" data-special="cycle" data-time="5000" data-delay="3000">
            providing peak performance at a fair price
          </p>
          <p class="teaser dark small" data-position="180,0" data-in="left" data-step="2" data-special="cycle" data-time="7000" data-delay="5000">
            Optional sidebar menu
          </p>
          <p class="teaser dark small" data-position="180,0" data-in="left" data-step="2" data-special="cycle" data-time="9000" data-delay="7500">
            Optional header style
          </p>
        </div>
        <div class="slide">
          <img src="assets/carousel/carousel-img-2.png" alt="" height="440" data-position="0,-460" data-in="left" data-delay="200" data-out="right">
          <img src="assets/slider/ipad.png" alt="" data-step="1" data-position="40, 600" data-in="bottom" data-delay="300" data-out="fade">
          <img src="assets/slider/iphone.png" alt="" data-step="1" data-position="40,900" data-in="left" data-delay="500" data-out="fade">
          <p class="claim light" data-position="70,0" data-in="top" data-step="2" data-out="top" data-delay="100">
            Now. Faster. Stronger
          </p>
          <p class="teaser dark small" data-position="130,0" data-in="bottom" data-step="2" data-delay="300">
            Fresh and adaptive design
          </p>
          <p class="teaser dark small" data-position="175,0" data-in="bottom" data-step="2" data-delay="600">
            Complete features
          </p>
          <p class="teaser dark small" data-position="225,0" data-in="bottom" data-step="2" data-delay="1100">
            Easy to customize
          </p>
          <p class="teaser dark small" data-position="275,0" data-in="bottom" data-step="2" data-delay="1600">
            Easier to achieve your goals
          </p>
          <p class="teaser dark small" data-position="325,0" data-in="bottom" data-step="2" data-delay="2100">
            Fully UPDATED
          </p>
        </div>
        <div class="slide">
          <img src="assets/carousel/carousel-img-7.png" alt="" height="440" data-position="0,-460" data-in="right" data-delay="100" data-out="left">
          <div class="video" data-position="80,0" data-in="top" data-delay="400" data-out="easeOutBounce">
            <iframe src="//player.vimeo.com/video/78468485?title=0&amp;byline=0&amp;portrait=0" height="360"></iframe>
          </div>
          <p class="claim light" data-position="80,550" data-in="top" data-out="top" data-delay="1000">
            Implementing videos is easy
          </p>
          <p class="teaser no-padding" style="color:#FFF ;" data-position="140,550" data-step="1" data-in="bottom" data-delay="2000">
            Media support for Vimeo, Youtube and much more
          </p>
          <p class="text small no-padding" style="color:#FFF;" data-position="190,550" data-in="bottom" data-step="1" data-delay="3000">
            Lorem ipsum dolor sit amet, eum cu sint dolores, dicat possit malorum at sit, ut natum assentior mea. Mel congue malorum te, eu cum blandit salutatus comprehensam, atqui causae ancillae cum ei. His eu ignota praesent democritum.
            <br>
            <a href="#" class="btn btn-one">Read more</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="slice bg-2 p-15">
    <div class="cta-wr">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>
              <strong>ALTA Waterproofing</strong> is the new choice for quality waterproofing construction services in the Mid-Atlantic region!
            </h1>
          </div>
          <div class="col-md-4">
            <a class="btn btn-one btn-lg pull-right" title="Services" href="/services" target="blank">
              <i class="fa fa-bolt"></i> Get started now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice">
    <div class="w-section inverse">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="w-box w-box-inverse">
              <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
              </div>

              <h2>Generating ideas</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="w-box w-box-inverse">
              <div class="thmb-img">
                <i class="fa fa-keyboard-o"></i>
              </div>

              <h2>Creating the model</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="w-box w-box-inverse">
              <div class="thmb-img">
                <i class="fa fa-code"></i>
              </div>

              <h2>Designing and Coding</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="w-box w-box-inverse">
              <div class="thmb-img">
                <i class="fa fa-rocket"></i>
              </div>

              <h2>Launching and Monitoring</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="slice bg-5">
    <div class="w-section inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="section-title"><span>Our company</span></h3>
            <div class="row">
              <div class="col-md-4">
                <img src="assets/prv/col-img-4.jpg" alt="" class="img-responsive img-thumbnail">
              </div>
              <div class="col-md-8">
                <p>
                  Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta regione diceret, cum et atqui placerat petentium.
                  <br>
                  Per amet nonumy periculis ei. Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum.
                </p>
              </div>
            </div>
            <blockquote class="blockquote-1">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
          </div>
          <div class="col-md-5">
            <h3 class="section-title">Our expertise</h3>
            <div class="widget">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                        Web design
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                      <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                        Software development
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                      <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                        Search engine optimization
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse in" style="height: auto;">
                    <div class="panel-body">
                      <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice relative animate-hover-slide bg-3">
    <div class="w-section inverse">
      <div class="container">
        <h3 class="section-title">Our portfolio</h3>

        <div id="carouselWork" class="carousel-3 slide animate-hover-slide">
          <div class="carousel-nav">
            <a data-slide="prev" class="left" href="#carouselWork"><i class="fa fa-angle-left"></i></a>
            <a data-slide="next" class="right" href="#carouselWork"><i class="fa fa-angle-right"></i></a>
          </div>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="assets/prv/NiceBuilding.JPG" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Bootstrap template</h2>
                        <small>Brand creation</small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button liked">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/wk-img-2.jpg" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="../assets/prv/wk-img-2.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Bootstrap template</h2>
                        <small>Brand creation</small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/wk-img-3.jpg" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="../assets/prv/wk-img-3.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Bootstrap template</h2>
                        <small>Brand creation</small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button liked">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/wk-img-4.jpg" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="../assets/prv/wk-img-4.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Bootstrap template</h2>
                        <small>Brand creation</small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/wk-img-5.jpg" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="../assets/prv/wk-img-5.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Bootstrap template</h2>
                        <small>Brand creation</small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/wk-img-6.jpg" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="../assets/prv/wk-img-6.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Deck Coatings</h2>
                        <small>Vehicular, Pedestrian, Balconies, Mechanical </small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/Waterproofing-Stock.gif" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="../assets/prv/Waterproofing-Stock.gif" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Air Barriers</h2>
                        <small>Sheet Applied, Spray Applied</small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="w-box inverse">
                    <div class="figure">
                      <img alt="" src="assets/prv/air-barrier.jpg" class="img-responsive">
                      <div class="figcaption bg-2"></div>
                      <div class="figcaption-btn">
                        <a href="../assets/prv/air-barrier.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                        <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Bootstrap template</h2>
                        <small>Brand creation</small>
                      </div>
                      <div class="col-xs-3">
                        <div class="like-button">
                          <span class="button">
                            <i class="fa fa-heart"></i>
                          </span>
                          <span class="count"><small>123</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="slice bg-banner-1">
    <div class="w-section inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h4><i class="fa fa-quote-left fa-3x"></i></h4>
              <h2>Always look on the bright side of life, ta dum, ta dum</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus.
                <br>
                Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
              </p>
              <span class="clearfix"></span>

              <div class="text-center">
                <a href="http://player.vimeo.com/video/22290612" class="btn btn-lg btn-one mt-20 ext-source">Whatch our video</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice bg-5">
    <div class="w-section inverse">
      <div class="container">
        <h3 class="section-title">Our services</h3>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="w-box white">
              <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
              </div>

              <h2>Generating ideas</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="w-box white">
              <div class="thmb-img">
                <i class="fa fa-keyboard-o"></i>
              </div>

              <h2>Prototype model</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="w-box white">
              <div class="thmb-img">
                <i class="fa fa-code"></i>
              </div>

              <h2>Design and Code</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="w-box white">
              <div class="thmb-img">
                <i class="fa fa-rocket"></i>
              </div>

              <h2>Launching and Monitoring</h2>
              <p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="companyCarousel" class="carousel carousel-2 slide bg-3" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Performance and design for your business</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              </p>
            </div>
            <div class="col-md-6">
              <img src="assets/prv/device-3.png" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Complete features at your hand</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              </p>
            </div>
            <div class="col-md-6">
              <img src="assets/prv/device-4.png" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#companyCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#companyCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </section>

  <section class="slice animate-hover-slide bg-5">
    <div class="w-section inverse">
      <div class="container">
        <h3 class="section-title">Latest news</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="w-box">
              <div class="figure">
                <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                <span class="date-over small"><strong>December 10, 2013</strong></span>
                <div class="figcaption bg-2"></div>
                <div class="figcaption-btn">
                  <a href="..assets/prv/NiceBuilding.JPG" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                  <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                </div>
              </div>
              <h2>Low profile waterproofing and concrete repair!</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="w-box">
              <div class="figure">
                <img alt="" src="assets/prv/Library.JPG" class="img-responsive">
                <span class="date-over small"><strong>December 23, 2013</strong></span>
                <div class="figcaption bg-2"></div>
                <div class="figcaption-btn">
                  <a href="../assets/prv/Library.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                  <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                </div>
              </div>
              <h2>Joint Sealants</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="w-box">
              <div class="figure">
                <img alt="" src="assets/prv/wk-img-4.jpg" class="img-responsive">
                <span class="date-over small"><strong>December 25, 2013</strong></span>
                <div class="figcaption bg-2"></div>
                <div class="figcaption-btn">
                  <a href="../assets/prv/col-img-3.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                  <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                </div>
              </div>
              <h2>Adpative design</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="w-box">
              <div class="figure">
                <img alt="" src="assets/prv/wk-img-5.jpg" class="img-responsive">
                <span class="date-over small"><strong>January 03</strong></span>
                <div class="figcaption bg-2"></div>
                <div class="figcaption-btn">
                  <a href="../assets/prv/col-img-4.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                  <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                </div>
              </div>
              <h2>Our Work on the Taj Majal</h2>
              <p>
                Our waterproofing is superb.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="slice bg-2 p-15">
    <div class="cta-wr">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h1>
              Enhance shopping experience with our template. Start selling your products!
            </h1>
          </div>
          <div class="col-md-3">
            <a class="btn btn-one btn-lg pull-right" title="" href="" target="blank">
              <i class="fa fa-shopping-cart"></i> Visit the shop
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice bg-3">
    <div class="w-section inverse">
      <div class="container">
        <h3 class="section-title">Our products</h3>
        <div class="row">
          <div class="col-md-3">
            <div class="w-box product">
              <figure>
                <img alt="" src="assets/prv/back-hoe.png" class="img-responsive img-center">
              </figure>
              <h2><a href="">Waterproofing</a></h2>
              <p>
                Sheet Applied, Hot Applied, Cold Applied, Blind Side
              </p>
              <div class="w-footer">
                <span class="price pull-left">$233.33</span>
                <a href="#" class="btn btn-xs btn-two pull-right">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="w-box product">
              <figure>
                <img alt="" src="assets/prv/hard-hat.jpg" class="img-responsive img-center">
              </figure>
              <h2><a href="">Air Barriers</a></h2>
              <p>
                 Sheet Applied, Spray Applied, Great Value
              </p>
              <div class="w-footer">
                <span class="price pull-left">$233.33</span>
                <a href="#" class="btn btn-xs btn-two pull-right">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="w-box product">
              <figure>
                <img alt="" src="assets/prv/back-hoe.png" class="img-responsive img-center">
              </figure>
              <h2><a href="">Deck Coatings: </a></h2>
              <p>
                Vehicular, Pedestrian, Balconies, Mechanical
              </p>
              <div class="w-footer">
                <span class="price pull-left">$233.33</span>
                <a href="#" class="btn btn-xs btn-two pull-right">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="w-box product">
              <figure>
                <img alt="" src="assets/prv/hard-hat.jpg" class="img-responsive img-center">
              </figure>
              <h2><a href="">Joint Sealants:</a></h2>
              <p>
                Facade, Parking Decks, Site, Long-Lasting Value
              </p>
              <div class="w-footer">
                <span class="price pull-left">$233.33</span>
                <a href="#" class="btn btn-xs btn-two pull-right">Add to cart</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

