  <div class="pg-opt pin">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Work showcase</h2>
        </div>
        <div class="col-md-6">
         <ol class="breadcrumb">
           <li><a href="#">Home</a></li>
           <li><a href="#">Pages</a></li>
           <li class="active">Work</li>
         </ol>
                    </div>

                  </div>
                </div>
              </div>

              <section class="slice bg-2">
                <div class="w-section inverse">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="text-center">
                          <h2>Here is some of our work</h2>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus.
                            <br>
                            Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                          </p>
                          <span class="clearfix"></span>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </section>

              <section class="slice bg-3 animate-hover-slide">
                <div class="w-section inverse work">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="sort-list-btn">
                          <button type="button" class="btn btn-two filter" data-filter="all"><i class="fa fa-th-large"></i> Show all</button>
                          <button type="button" class="btn btn-five filter" data-filter="category_1 category_2 category_3">New Construction</button>
                          <button type="button" class="btn btn-five filter" data-filter="category_3 category_5 category_6 category_7 category_8">Restoration</button>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div id="ulSorList">

                        <div class="mix category_1 col-lg-4 col-md-4 col-sm-6" data-cat="1">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-1.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Baltimore, MD</h2>
                                <small>Waterproofed</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_2 col-lg-4 col-md-4 col-sm-6" data-cat="2">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-2.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>A Great location</h2>
                                <small>The best Job</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_3 col-lg-4 col-md-4 col-sm-6" data-cat="3">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-3.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Washington D.C.</h2>
                                <small>Waterproofed</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_4 col-lg-4 col-md-4 col-sm-6" data-cat="4">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-4.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Great Location</h2>
                                <small>Attention to detail</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_5 col-lg-4 col-md-4 col-sm-6" data-cat="5">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-5.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Great location</h2>
                                <small>interesting thing</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_6 col-lg-4 col-md-4 col-sm-6" data-cat="6">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-6.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Maryland</h2>
                                <small>Waterproofing</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_7 col-lg-4 col-md-4 col-sm-6" data-cat="7">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-7.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>A location</h2>
                                <small>A job well done</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_8 col-lg-4 col-md-4 col-sm-6" data-cat="8">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-8.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Waterproofing</h2>
                                <small>Best of the best</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_9 col-lg-4 col-md-4 col-sm-6" data-cat="9">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-1.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Made for a company</h2>
                                <small>Great job</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_10 col-lg-4 col-md-4 col-sm-6" data-cat="10">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-3.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>A Location</h2>
                                <small>Perfectly sealed</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_11 col-lg-4 col-md-4 col-sm-6" data-cat="11">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-5.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>The best job</h2>
                                <small>Job well done</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category_12 col-lg-4 col-md-4 col-sm-6" data-cat="12">
                          <div class="w-box inverse">
                            <div class="figure">
                              <img alt="" src="assets/prv/NiceBuilding.JPG" class="img-responsive">
                              <div class="figcaption bg-2"></div>
                              <div class="figcaption-btn">
                                <a href="assets/prv/wk-img-7.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-9">
                                <h2>Better experience</h2>
                                <small>Waterproofing</small>
                              </div>
                              <div class="col-xs-3">
                                <div class="like-button">
                                  <span class="button">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span class="count"><small>123</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="gap"></div>
                      </div>

                    </div>
                  </div>
                </div>
              </section>

            </div>

