<div class="pg-opt pin">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Our services</h2>
      </div>
      <div class="col-md-6">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li class="active">Our services</li>
        </ol>
      </div>

    </div>
  </div>
</div>

<section class="slice animate-hover-slide bg-3">
  <div class="w-section inverse">
    <div class="container">
      <p style="margin-bottom:20px;">
        ALTA Waterproofing provides building envelope services to general contractors, building owners, property management companies and government agencies. No project is too large or too small. Our goal is grow and maintain strong business relationships with our clients by providing peak performance at a fair price.
      </p>
      <h3 class="section-title">The services we provide</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="w-box">
            <div class="figure">
              <img alt="" src="assets/barren-construction.jpg" class="img-responsive">
              <!-- <div class="figcaption bg-2"></div> -->
              <div class="figcaption-btn">
                <!-- <a href="../assets/prv/col-img-1.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a> -->
                <!-- <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a> -->
              </div>
            </div>
            <h2>Water Proofing 1</h2>
            <p>
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="w-box">
            <div class="figure">
              <img alt="" src="assets/block.jpeg" class="img-responsive">
              <!-- <div class="figcaption bg-2"></div> -->
              <div class="figcaption-btn">
                <!-- <a href="../assets/prv/col-img-2.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a> -->
                <!-- <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a> -->
              </div>
            </div>
            <h2>Water Proofing 2</h2>
            <p>
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="w-box">
            <div class="figure">
              <img alt="" src="assets/barren-construction.jpg" class="img-responsive">
              <!-- <div class="figcaption bg-2"></div> -->
              <div class="figcaption-btn">
<!--                 <a href="../assets/prv/col-img-3.jpg" class="btn btn-xs btn-one theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                <a href="#" class="btn btn-xs btn-one"><i class="fa fa-link"></i> View</a> -->
              </div>
            </div>
            <h2>Water Proofing 3</h2>
            <p>
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="slice bg-2 p-50">
  <div class="w-section inverse">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2>"Expect Peak Perfomance"</h2>
            <p>
              At ALTA, we are dedicated to serving our customer's needs. 
              <br>
              Our goal is 100% customer satisfaction.
            </p>
            <span class="clearfix"></span>

<!--             <div class="text-center">
              <a href="http://player.vimeo.com/video/22290612" class="btn btn-lg btn-one margin-t-20 ext-source" title="">Whatch our video</a>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice bg-3">
  <div class="w-section inverse">
    <div class="container">
      <h3 class="section-title">What we do</h3>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="aside-feature">
            <div class="row">
              <div class="col-md-3">
                <div class="icon-feature">
                  <i class="fa fa-desktop"></i>
                </div>
              </div>
              <div class="col-md-9">
                <h4>Waterproofing</h4>
                <p>Sheet Applied, Hot Applied, Cold Applied, Blind Side, Cementitious, Bentonite, Vegetative.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="aside-feature">
            <div class="row">
              <div class="col-md-3">
                <div class="icon-feature">
                  <i class="fa fa-code"></i>
                </div>
              </div>
              <div class="col-md-9">
                <h4>Air Barriers</h4>
                <p>Sheet Applied, Spray Applied.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="aside-feature">
            <div class="row">
              <div class="col-md-3">
                <div class="icon-feature">
                  <i class="fa fa-cogs"></i>
                </div>
              </div>
              <div class="col-md-9">
                <h4>Deck Coatings</h4>
                <p>Vehicular, Pedestrian, Balconies, Mechanical Rooms.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="aside-feature">
            <div class="row">
              <div class="col-md-3">
                <div class="icon-feature">
                  <i class="fa fa-wrench"></i>
                </div>
              </div>
              <div class="col-md-9">
                <h4>Joint Sealants</h4>
                <p>Facade, Parking Decks, Site.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="aside-feature">
            <div class="row">
              <div class="col-md-3">
                <div class="icon-feature">
                  <i class="fa fa-globe"></i>
                </div>
              </div>
              <div class="col-md-9">
                <h4>Expansion Joints</h4>
                <p>Exterior, Interior.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="aside-feature">
            <div class="row">
              <div class="col-md-3">
                <div class="icon-feature">
                  <i class="fa fa-plane"></i>
                </div>
              </div>
              <div class="col-md-9">
                <h4>Concrete Repairs</h4>
                <p>Crack Repairs, Concrete Delaminations, Surface Cleaning.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>