<div class="wrapper">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<header>
  <div class="navbar navbar-white" role="navigation">
    <div class="container">
      <div class="navbar-header">
       <!--    <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
            <i class="fa fa-outdent icon-custom"></i>
          </button> -->
          <!--       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> -->
        <!--     <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="/">
            <%= image_tag("ALTA-logo-noback.png", alt: "ALTA Waterproofing", id:"nav-logo")%>
          </a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Home</a>
              <ul class="dropdown-menu">
                <li><a href="/">Homepage</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">About</a>
              <ul class="dropdown-menu">
                <li><a href="/about-us">About Us</a></li>
                <li><a href="#">Employee Profiles</a></li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Reviews</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Services</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/services">Services</a>
                </li>
                <li>
                  <a href="#">Portfolio</a>
                </li>
                <li>
                  <a href="#">Hours and Location</a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/pricing">Pricing</a>
                  <ul class="dropdown-menu">
                    <li>
                      <li><a href="/pricing">Waterproofing</a></li>
                      <li>
                        <a href="/pricing">Air Barriers</a>
                      </li>
                      <li>
                        <a href="#">Cement Repair</a>
                      </li>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Contact</a>
              <ul class="dropdown-menu">
               <li><a href="/contact">Request Service</a></li>
               <li><a href="/contact">Inquire about Alta</a></li>
               <li><a href="#">Support</a></li>
             </ul>
           </li>
         </div>
       </div>
     </header>

     <script>
     $('.dropdown-toggle').unbind()
     </script>
